:root{
    --primary-color:#0080cd;
    --secondary-color:#004983;
    --base-color:#F2F2F2;
    --padding-size: 1rem;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
    
header h1{
    width: 100%;
    padding: var(--padding-size);
    background-color: var(--primary-color);
}
        
header div{
    width: 100%;
    background-color: var(--secondary-color);
}

.display-city{
    display: flex;
    justify-content: end;
    align-items: center;
}
.display-city img{
    padding: .1rem;
    margin: .1rem;
    width: 2rem;
}

.day-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color);
    border-radius: .2rem;
}

.date, .description{
    width: 100%;
    padding: var(--padding-size);
    text-align: center;
}

.date{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--base-color);
}

.temp, img{
    padding: var(--padding-size);
}